/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xl-hero-2-min: 1350px;

// Colors
$white: #fff;
$black: #000;

$electricYellow: #FFD205;
$electricYellowDark: #E2BA06;
$night: #424B54;
$nightDark: #2A3036;
$alpineFrost: #E0DFD5;
$alpineFrostDark: #C8C7BC;
$brightStarLite: #F8F9FA;
$brightStarDark: #ADB5BD;
$stoneSilver: #93A8AC;
$stoneSilverDark: #637275;
