@charset 'utf-8';

// Helpers Styles
@import "helpers/_mixins";
@import "helpers/_variables";

// Base Styles
@import "base/_normalize";
@import "base/_base";
@import "base/_typography";

// Layout Styles 
@import "layout/header";
@import "layout/footer";

// Sections Styles
@import "sections/hero-image";
@import "sections/images";
@import "sections/menu";