.images {
    .threetacos {
        background: url("../img/Collage1used.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 1250px;
    }

    .juicetacos {
        background: url("../img/Collage2used.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 375px;
    }

    .twotacos {
        background: url("../img/Collage3used.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 377px;
    }
}