.images {
    .threetacos {
        background: url(/deploy/img/Collage1used.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 1250px;
    }

    .juicetacos {
        background: url(/deploy/img/Collage2used.jpg);
        background-repeat: no-repeat;
        width: 100%;
        height: 375px;
    }

    .twotacos {
        background: url(/deploy/img/Collage3used.png);
        background-repeat: no-repeat;
        width: 100%;
        height: 377px;
    }
}