/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.content {
	display: grid;
	grid-template-areas: 
		"header"
		"hero"
		"images"
		"menu"
		"footer";

	.header {
		grid-area: header;
	}

	.hero {
		.grid-container {
			display: grid;
			grid-template-columns: 2.5fr 0.5fr;
			grid-template-rows: 1fr 1fr 3fr 1fr 1fr 2fr 2fr 1fr 1fr;
			gap: 0px 0px;
		  }
		  
			grid-area: hero;
			section {
				display: grid;
				grid-template-columns: 10px auto 10px;
			}

			.detailshide {
				display: none;
			}

			.fas fa-caret-right {
				display: inline;
				align-items: flex-end;
			}
	}

	.images {
		grid-area: images;
	}

	.menu {
		grid-area: menu;
	}

	.footer {
		grid-area: footer;
	}

	margin-bottom: 24px;

	@include md {
		margin-bottom: 32px;
	}

	@include lg {
		margin-bottom: 64px;
	}

	@include xl {
		margin-bottom: 64px;
	}
}
