/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.content {
	display: grid;
	grid-template-areas: 
		"header"
		"search"
		"hero-image"
		"hero"
		"images"
		"menu"
		"footer";

	.header {
		grid-area: header;
	}

	.search {
		grid-area: search;

		form {
			display: grid;
			grid-template-columns: 80% auto;
			grid-gap: 10px;
		}
	}

	.hero-image {
		grid-area: hero-image;
	}

	.hero {
		grid-area: hero;

		.strip1 {
			display: grid;

			.reservations {
				display: grid;
				grid-template-columns: 90% auto;
				align-items: right;
			}
			
			.order {
				display: grid;
				grid-template-columns: 90% auto;
				align-items: right;
			}

			@include md {
				grid-template-columns: auto auto;
			}
		}

		.strip2 {
			display: grid;
			grid-gap: 14px;

			.story {
				display: grid;
				grid-template-columns: 80% auto;
				align-items: right;
			}

			.philosophy {
				display: grid;
				grid-template-columns: 80% auto;
				align-items: right;
			}			

			@include lg {
				width: 90%;
				margin: 0 auto;
				grid-template-columns: 50% auto;
			}
		}
	}

	.images {
		grid-area: images;
		display: grid;

		@include md {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-template-areas: 
			"threetacos juicetacos"
			"threetacos juicetacos";

			.threetacos {
				grid-area: threetacos;
			}

			.juicetacos {
				grid-area: juicetacos;
			}

			.twotacos{
				grid-area: twotacos;
			}
		}

		@include lg {
			display: grid;
			grid-template-columns: repeat(4, 2fr);
			grid-template-rows: repeat(3, 1fr);
			grid-template-areas: 
			"threetacos threetacos juicetacos juicetacos"
			"threetacos threetacos juicetacos juicetacos"
			"threetacos threetacos twotacos twotacos";
		}
	}

	.menu {
		grid-area: menu;
		display: grid;

		@include md {
			.food {
				display: grid;
				grid-template-columns: 360px 360px;
				grid-gap: 15px;
				justify-content: center;
			}
		}
	}

	.footer {
		grid-area: footer;
		
		@include md {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
		}

		.locations {
			display: grid;
		}

		.addressnumber {
			display: grid;
			grid-template-columns: 30px 300px;
		}

		.email {
			grid-column: 3 / 6;
			grid-row: 1 / 1;
		}

		.socials {
			display: grid;
			grid-column: 3 / 6;
			
			ul {
				display: grid;
				grid-template-columns: repeat(4, 50px);
			}
		}
	}
}