/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.content {
	display: grid;
	grid-template-areas: 
		"header"
		"search"
		"hero"
		"images"
		"menu"
		"footer";

	.header {
		grid-area: header;
	}

	.search {
		grid-area: search;
	}

	.hero {
		grid-area: hero;

		.strip1 {
			display: grid;
			grid-template-columns: 300px auto;
			grid-gap: 30px;
				
			.detailshide {
				display: none;
			}
		}

		.strip2 {
			display: grid;
			grid-template-columns: 300px auto;
		}
	}

	.images {
		grid-area: images;
		display: grid;

		.Collage3hide{
			display: none !important;
		}
	}

	.menu {
		grid-area: menu;
		display: grid;
	}

	.footer {
		grid-area: footer;
		
		.socials ul {
			display: grid;
			grid-template-columns: repeat(4, 50px);
		}

		.locations {
			display: grid;
		}

		.addressnumber {
			display: grid;
			grid-template-columns: 30px 300px;
			grid-gap: 10px
		}

		@include md {
			display: grid;
			grid-template-columns: 300px 300px;
		}
	
	}
}