/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.content {
	display: grid;
	grid-template-areas: 
		"header"
		"search"
		"hero-image"
		"hero"
		"images"
		"menu"
		"footer";

	border: 1px solid red;

	.header {
		grid-area: header;
	}

	.search {
		grid-area: search;

		form {
			display: grid;
			grid-template-columns: 95% auto;
			grid-gap: 10px;
			margin-right: 16px;
		}
	}

	.hero-image {
		grid-area: hero-image;
	}

	.hero {
		grid-area: hero;

		.strip1 {
			display: grid;

			.reservations {
				display: grid;
				grid-template-columns: 70% auto;
				align-items: center;
			}
			
			.order {
				display: grid;
				grid-template-columns: 70% auto;
				align-items: center;
			}

			.details {
				display: flex;
				
				h4 {
					margin-right: 10px;
				}
			}

			@include md {
				grid-template-columns: auto auto;
			}
		}

		.strip2 {
			display: grid;
			grid-gap: 14px;

			.story {
				display: grid;
				grid-template-columns: 50% auto;
				align-items: right;
			}

			.philosophy {
				display: grid;
				grid-template-columns: 50% auto;
				align-items: right;
			}			

			@include md {
				width: 95%;
				margin: 0 auto;
				grid-template-columns: 50% auto;
			}

			@include lg {
				width: 98%;
				margin: 0 auto;
				grid-template-columns: 50% auto;
			}
		}
	}

	.images {
		grid-area: images;
		display: grid;

		@include sm {
			display: grid;

			.twotacos{
				display: none !important;
			}
		}

		@include md {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-template-areas: 
			"threetacos juicetacos"
			"threetacos juicetacos";

			.threetacos {
				grid-area: threetacos;
			}

			.juicetacos {
				grid-area: juicetacos;
			}

			.twotacos {
				grid-area: twotacos;
				display: none !important;
			}
		}

		@include lg {
			.twotacos {
				grid-area: twotacos;
				display: none !important;
			}

			margin-left: 16px;
			margin-right: 16px;
			margin-bottom: 56px;
			margin-top: 56px;
		}
	}

	.menu {
		grid-area: menu;
		display: grid;

		@include md {
			.food {
				display: grid;
				grid-template-columns: 360px 360px;
				grid-gap: 15px;
				justify-content: center;
			}
		}

		@include lg {
			.food {
				display: grid;
				grid-template-columns: 360px 360px 360px;
				grid-template-areas: 
				"entradas tacos quesadillas"
				". burritas aguas .";
				margin-bottom: 56px;
				margin-left: 16px;
				margin-right: 16px;
			}

			.title {
				margin-left: 16px;
				margin-bottom: 24px;
			}
		}
	}

	.footer {
		grid-area: footer;
		
		@include md {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: repeat(2, 200px);
		}

		.locations {
			display: grid;
			grid-row: 1 / 2;
		}

		.addressnumber {
			display: grid;
			grid-template-columns: 30px 300px;
		}

		.email {
			grid-column: 3 / 6;
			grid-row: 1 / 1;
		}

		.socials {
			grid-column: 3 / 6;
			
			ul {
				display: grid;
				grid-template-columns: repeat(4, 50px);
			}

			@include lg {
				grid-column: 6 / 6;
			}
		}
	}
}