/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.content {
	display: grid;
	grid-template-areas: 
		"header"
		"hero"
		"images"
		"menu"
		"footer";

	.header {
		grid-area: header;
	}
	
	.hero {
		@include md{
			grid-area: hero;
			display: grid;
			grid-template-columns: 40px auto;
		}

		.arrowlink{
			display: block;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 15px 20px;
		}

		.detailshide{
			display: none;

			@include lg{
				display: contents;
			}
		}
	}

	.images {
		grid-area: images;
		.collage3{
			display: none!important;
		}
	}

	.menu {
		grid-area: menu;
	}

	.footer {
		grid-area: footer;
	}

	margin-bottom: 24px;

	@include md {
		margin-bottom: 32px;
	}

	@include lg {
		margin-bottom: 64px;
	}

	@include xl {
		margin-bottom: 64px;
	}
}
