/* =============
    Typography
============= */

.search {
    font-family: 'Roboto', sans-serif;
}

.hero {
    .reservations {
        font-family: 'Roboto', sans-serif;

        .details {
            font-family: 'Cabin', sans-serif;
        }

        .description {
            font-family: 'Cabin', sans-serif;
        }
    }

    .order {
        font-family: 'Roboto', sans-serif;

        .details {
            font-family: 'Cabin', sans-serif;
        }

        .description {
            font-family: 'Cabin', sans-serif;
        }
    }

    .story {
        font-family: 'Roboto', sans-serif;

        .button {
            font-family: 'Cabin', sans-serif;
        }
    }

    .philosophy {
        font-family: 'Roboto', sans-serif;

        .button {
            font-family: 'Cabin', sans-serif;
        }
    }
}

.menu {
    .title {
        font-family: 'Roboto', sans-serif;
    }

    .food {
        font-family: 'Roboto', sans-serif;
    }

    .info {
        font-family: 'Cabin', sans-serif;
    }
}

.footer {
    .sections {
        font-family: 'Roboto', sans-serif;
    }
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

.section-title{
    font-weight: 300;
}