.hero {
    .reservations {
        display: grid;
        background-color: $primoseroad;
        height: 72px;
        padding-left: 24px;
        padding-top: 12px;
        padding-bottom: 12px;

        .details a {
            color: black;
        }
    }

    .order {
        display: grid;
        background-color: $citruspunch;
        height: 72px;
        padding-left: 24px;
        padding-top: 12px;
        padding-bottom: 12px;

        .details a {
            color: black;
        }
    }

    .story {
        display: grid;
        background-color: $springmorning;
        height: 145px;
        margin: 20px 0;
        margin-bottom: 56px;
        padding-left: 18px;
        padding-top: 32px;

        button {
            background-color: $citruspunch;
            padding: 10px 20px;
            border: none;
        }
    }

    .philosophy {
        display: grid;
        background-color: $springmorning;
        height: 145px;
        margin: 20px 0;
        margin-bottom: 56px;
        padding-left: 18px;
        padding-top: 32px;

        button {
            background-color: $citruspunch;
            padding: 10px 20px;
            border: none;
        }
    }
}