.images {
    .threetacos {
        background: url("../img/Collage1used.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .juicetacos {
        background: url("../img/Collage2used.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .twotacos {
        background: url("../img/Collage3used.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: none;
    }

    @include md {
        .threetacos {
            width: 100%;
            height: 500px;
        }
    }

    @include lg {
        .threetacos {
            height: 700px;
        }

        .twotacos {
            display: none;
        }
    }

    @include xl {
        .threetacos {
            height: 700px;
        }

        .twotacos {
            display: inline;
        }
    }
}