.search {
    height: 97px;
    margin: 24px 17px 0;

    form input {
        border: none;
        border-bottom: 2px solid $black;
        padding: 5px;
    }

    form button {
        background: $citruspunch;
        border: none;
        border-radius: 4px;
        height: 50px;
        width: auto;
    }
}
