/* =============
    Footer
============= */

.footer {
	background-color: $limemist;
	padding-top: 24px;
	padding-left: 17px;
	padding-right: 17px;

	.email {
		form input {
			border: none;
			padding-top: 16px;
			padding-bottom: 16px;
			padding-left: 12px;
			width: 320px; 
		}

		form button {
			background-color: $citruspunch;
			border: none;
			padding: 5px 10px;
		}
	}

	.icon {
		color: $shiningsun;
	}
	
}