/* =============
    Footer
============= */

.footer {
	background-color: $limemist;
	padding-top: 24px;
	padding-left: 17px;
	padding-right: 17px;
	padding-bottom: 24px;

	h3 {
		font-weight: 400;
	}

	.email {
		form input {
			border: none;
			padding-top: 16px;
			padding-bottom: 16px;
			padding-left: 12px;
			width: 320px; 
		}

		form button {
			background-color: $citruspunch;
			border: none;
			padding: 5px 10px;
		}
	}

	.locations {
		.icon {
			color: $shiningsun;
		}

		.addressnumber a {
			color: black;
			text-decoration: none;
		}
	}

	.socialicons a {
		color: black;
	}
	
}