/* =============
    Header
============= */
header {
	display: grid;
	background-color: $limemist;
	height: 103px;
	padding: 10px;

	.image {
		margin-left: 17px;
		margin-top: 32px;
		margin-bottom: 32px;
	}
}