/* =============
    Header
============= */
header {
	background-color: $nightDark;
	display: grid;

	@include xl {
		grid-template-areas: ". header .";
		grid-template-columns: auto 1200px auto;
	}

	>div {
		@include xl {
			grid-area: header;
		}

		section {
			padding: 15px;

			img {
				width: 96px;

				@include md {
					width: 123px;
				}

				@include lg {
					width: 150px;
				}
			}
		}
	}
}